.pagination {
    display: flex;
    justify-content: center;
    ul {
      list-style: none;
      padding: 0px;
      display: flex;
  
      li {
        background: #4db8ff;
        padding: 10px 15px;
        margin-right: 4px;
        border-radius: 4px;
        font-family: sans-serif;
        color: #fff;
        font-size: 1.1rem;
        min-width: 20px;
        text-align: center;
        user-select: none;
  
        &:last-child {
          margin-right: 0px;
        }
  
        &:not(.active):not(.disabled) {
          cursor: pointer;
        }
        &:not(.active):not(.disabled):hover {
          background: #3c8ce7;
        }
  
        &.active {
          background: #113c7c;
        }
        &.disabled {
          background: #dfdfdf;
          pointer-events: none;
        }
      }
    }
  }